<div class="container-fluid">


    <h1>Alquilando</h1>

    <h2>ABM de usuarios</h2>

    <div class="jumbotron">

        <h3>Ingresar nuevo</h3>

<!-- form para generar usuarios nuevos -->
        <form>
            <div class="form-group">
                <label for="">Nombre:</label>
                <input class="form-control" type="text" [(ngModel)]="usuario.nombre" name="Nombre">
            </div>
            <div class="form-group">
                <label for="">Apellido:</label>
                <input class="form-control" type="text" [(ngModel)]="usuario.apellido" name="Apellido">
            </div>
            <div class="form-group">
                <label for="">Email:</label>
                <input class="form-control" type="email" [(ngModel)]="usuario.email" name="Email">
            </div>

            <input class="btn btn-secondary" type="button" (click)="agregar()" value="Agregar Usuarios">
        </form>


        <div *ngIf="errorForm">
            <div class="alert alert-success m-3">
                Completar todos los datos!</div>
        </div>

<!-- tabla para mostrar usuarios y modificarlos -->
        <h3>Usuarios</h3>
        <table class="table table-light table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Email</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios">
                    <th scope="row">{{usuario.id}}</th>
                    <td>{{usuario.nombre}}</td>
                    <td>{{usuario.apellido}}</td>
                    <td>@{{usuario.email}}</td>
                    <td>
                        <input type="submit" class="btn btn-warning mx-3" value="Modificar" (click)="modificar(i)">
                        <input type="submit" class="btn btn-danger" value="Eliminar" (click)="borrar(i)">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>