<div class="container-fluid">


    <h1>Alquilando</h1>

    <h2>ABM de usuarios</h2>

    <div class="jumbotron">

        <h3>Ingresar nuevo</h3>

        <!-- form para generar usuarios nuevos -->
        <form>
            <div class="form-group">
                <label for="">Nombre:</label>
                <input class="form-control" type="text" [(ngModel)]="usuario.first_name" name="Nombre">
            </div>
            <div class="form-group">
                <label for="">Apellido:</label>
                <input class="form-control" type="text" [(ngModel)]="usuario.last_name" name="Apellido">
            </div>
            <div class="form-group">
                <label for="">Email:</label>
                <input class="form-control" type="email" [(ngModel)]="usuario.email" name="Email">
            </div>

            <div class="form-group">
                <label for="">Foto:</label>
                <input class="form-control" type="text" [(ngModel)]="usuario.avatar" name="foto">
            </div>

            <input class="btn btn-secondary my-3" type="button" (click)="agregar()" value="Agregar Usuarios">
        </form>


        <div *ngIf="errorForm">
            <div class="alert alert-danger m-3">
                Completar todos los datos!</div>
        </div>
        <br>
        <br>

        <!-- tabla para mostrar usuarios y modificarlos -->
        <h3>Usuarios</h3>
        <p>Para modificar usuarios, complete los campos superiores y clickee en el botón de modificar del usuario correspondiente. Ingrese la url de la fotografía que quiera utilizar.</p>
        <div *ngFor="let user of usuarios">
        </div>
        <table class="table table-responsive-md table-light table-hover my-5">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Email</th>
                    <th scope="col">Foto</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios; index as i">
                    <th scope="row">{{usuario.id}}</th>
                    <td>{{usuario.first_name}}</td>
                    <td>{{usuario.last_name}}</td>
                    <td>{{usuario.email}}</td>
                    <td><img [src]="usuario.avatar" alt="falta foto" class="rounded-circle"></td>
                    <td>
                        <button type="submit" class="btn btn-warning mx-3" (click)="modificar(i)"> <i
                                class="fa fa-pencil"></i></button>
                        <button type="submit" class="btn btn-danger" value="Eliminar" (click)="borrar(i)"> <i
                                class="fa fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>
</div>